
*{
    padding: 0;
    margin: 0;
    font-family: inter;
}
.main{
    background-image: url("images/Main_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;
    position: relative;
    
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav img{
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 6px 16px ;
    border-radius: 4px;
    border: 1px solid black;
}
nav select{
    position: relative;
    z-index: 10;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 4px 24px ;
    border-radius: 4px;    
}
.nav-right{
    display: flex;
    gap: 12px;
}




