

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@600;800&family=Momo+Signature&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: inter;
}
.main{
    background-image: url("images/Main_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;
    position: relative;
    
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav img{
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 6px 16px ;
    border-radius: 4px;
    border: 1px solid black;
}
nav select{
    position: relative;
    z-index: 10;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 4px 24px ;
    border-radius: 4px;    
}
.nav-right{
    display: flex;
    gap: 12px;
}
.line1{
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 56px;
    line-height: 70px;
}
.line2{
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: white;
    line-height: 70px;
    
}
.line3{
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    line-height: normal;
    
}
.line4{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 54px;
    
}
.text{
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#input{
    font-size: 16px;
    font-weight: 400;
    padding: 18px 160px;
    background-color: black;
    opacity: 0.5;
    color: white;
    z-index: 10;
    border: white solid 0.7px;
    padding-left: 10px;
    border-radius: 5px;
}
#button{
    font-size: 24px;
    padding: 16px 45px;
    color: white;
    background-color: rgb(255,0,0);
    font-weight: 700;
    border-radius: 5px;
    line-height: 24px;
    
}
.userinput>input{
    padding-left: 10px;
}
#input::placeholder{
    color: white;
    opacity: 1;
}
#button:hover{
    background-color: #b20710;
    transition: 0.45s ease;
}




